
.feed{
    top: 5px;
    border: 1px solid skyblue!important;
    height:90vh!important;
    overflow: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.feed > div{
    margin: 10px;
}

.flex{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.register{
    position: relative;
    transition: 0.5;
    transform: translateY(30%);
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}