::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
    background: #A9E2F3;
}
::-webkit-scrollbar-thumb {
    background: #A9E2F3;
    border-radius: 3px;
}
.feed{
    border-radius: 3px;
    top: 5px;
    border: 1px solid skyblue!important;
    height:90vh!important;
    overflow: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.feed > div{
    margin: 10px;
}

.flex{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.register{
    position: relative;
    transition: 0.5;
    transform: translateY(30%);
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}
.card{
    cursor: pointer;
    margin: 5px;
}

.preview{
    height: 210px;
    position: relative;
    margin-top: 5%;
    transition: 0.5;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.preview > div {
    overflow: hidden;
    height: 200px;
    width: 200px;
    border: 4px solid lightgrey;
    border-radius: 200px;
}

.preview > div > img {
    max-height: 100%;
    max-width: 100%;
}
.delete{
    margin-right: 63%!important;
}
.card > img{
    height: 200px;
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.my-alert{
    padding: 10px;
    width: 200px;
    height: 60px;
    position: absolute;
    float: right;
    top: 45%;
    left: 15px;
    color: white;
    font-weight: bold;
    animation: alert 0.3s;
    border-radius: 5px;
    display: none;
    text-align: center;
    z-index: 999;
}
.grey{
    background-color: black;
    opacity: 0.3;
}

.red{
    background-color: red;
    opacity: 0.6;
}

@keyframes alert {
    0%{
        top: 100%;
    }
    100%{
        top: 45%;
    }
}
.modal-img{
    width: 100%;
}